{% extends 'layout.html' %}
{% block content %}
    <h1 style="text-align: center;">Welcome to my random quotes page </h1>
    <div class="col-md-4">
        <div class="container">
            <div class="content-section">
                <div class="card-title">
                    <h4>A quote by: <span style="color: rgb(3, 3, 3)">{{quote.author}}</span> </h4>
                </div>
                <p class="card-text">{{quote.quote}}</p>
            </div>
        </div>
    </div>
{% endblock content %}
<div class="col-md-4">
    <div class="content-section">
      <h3>Side Bar</h3>
      <p class="text-muted">You can put any information you would like</p>
      <br>
      
        <p class="ml-4">Different categories of pitches</p>
        <hr>
        <p class="ml-4">Profile</p>
        <hr>
        <p class="ml-4">Profile photo</p>
      
    </div>
  </div>